<div class="w-full bg-indigo-500 flex justify-between py-3 px-4 items-center">
  <a
    class="text-white primary-font text-xl"
    href="http://localhost:8080/"
  >DigitalGaming</a>
  <div class="flex gap-x-5 items-center">
    <div
      class="flex bg-white px-3 py-0.5 search justify-between items-center rounded-2xl"
    >
      <input
        type="text"
        class="w-full border-0 outline-0 p-0.5 secondary-font"
        placeholder="Search products..."
        id="searchBar"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <a href="http://localhost:8080/login" class="text-white"><i
        class="fa-solid fa-cart-shopping"
      ></i></a>
    <span class="flex gap-x-1" class="text-white">
      <a
        href="http://localhost:8080/login"
        class="text-white secondary-font"
      >Login</a>
      <p class="text-white">|</p>
      <a
        href="http://localhost:8080/register"
        class="text-white secondary-font"
      >Register</a>
    </span>
  </div>
</div>
<div class="w-full bg-white flex items-center ">
  <a
    href="http://localhost:8080/products"
    class="secondary-font text-indigo-500 hover:bg-orange-600 px-4 py-2 hover:text-white"
  >Catalogue</a>
  <a
    href="http://localhost:8080/categories"
    class="secondary-font text-indigo-500 hover:bg-orange-600 px-4 py-2 hover:text-white"
  >Categories</a>
  <a
    href="http://localhost:8080/developers"
    class="secondary-font text-indigo-500 hover:bg-orange-600 px-4 py-2 hover:text-white"
  >Developers</a>
  <a
    href="http://localhost:8080/opinions"
    class="secondary-font text-indigo-500 hover:bg-orange-600 px-4 py-2 hover:text-white"
  >Opinions</a>
</div>
<div class="w-full h-[500px] bg-cover bg-center bg-no-repeat flex justify-center px-10 flex-col gap-y-5" id="hero">
<h1 class="text-5xl primary-font text-white leading-snug">Buy PC games <br> at the best price</h1>
<h2 class="text-2xl secondary-font text-white">Easy, fast and safe</h2>
</div>
<div class="flex flex-col gap-y-10 bg-indigo-50 px-7 py-10">
  <div class="w-full flex flex-col gap-y-10 justify-center" >
    <h2 class="primary-font text-orange-600 text-3xl font-[700]">Recently added</h2>
    <div id="added" class="flex w-full gap-x-5  justify-around items-center">
    </div>
  </div>
  <div class="w-full flex flex-col gap-y-10 justify-center">
    <h2 class="primary-font text-orange-600 text-3xl font-[700]">Discounts of the week</h2>
    <div id="discounts" class="flex w-full gap-x-5  justify-around">

    </div>
  </div>
  <div class="w-full flex flex-col gap-y-10 justify-center">
    <h2 class="primary-font text-orange-600 text-3xl font-[700]">Popular of the week</h2>
    <div id="populars" class="flex w-full gap-x-5  justify-around">

    </div>
  </div>
</div>
<script src="/js/home.js"></script>